*,
html,
body {
    margin: 0;
    padding: 0;
    line-height: 1, 5;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    color: gold;
}
body {
    background-color: #007bff;
}

h1,
h2,
h3 {
    font-family: "Mystery Quest", sans-serif;
    text-shadow: 0 0 10px rgb(119, 104, 22);
}

/* ini adalah awal header */

.jumbotron {
    box-sizing: border-box;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 17px 1px -10px #003566;
    width: 100%;
    height: auto;
    font-size: 30px;
    padding: 60px;
    background-color: #001d3d;
    text-align: center;
}

.logo {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.logo img {
    width: 12%;
}

.container-navbar {
    width: 100%;
    display: flex;
    padding: 5px 15px;
    background-color: #003566;
    box-sizing: border-box;
    border: 0;
    justify-content: flex-end;
    text-align: left;
    gap: 10px;
    align-content: center;
}

.container-list {
    padding: 10px 15px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.container-list>li {
    list-style-type: none;
    padding: 15px;
}

.container-list>li>a {
    font-family: "Mystery Quest", sans-serif;
    text-decoration: none;
    font-size: 25px;
}

.container-list>li>a:hover {
    flex-grow: 2;
    font-weight: bolder;
    text-shadow: 0 0 10px rgb(119, 104, 22);
    transition: all 0.2s ease-in-out;
}

.sticky>.container-navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* ini akhir header */

.container-information {
    justify-content: space-between;
    flex-wrap:  wrap;
    padding: 20px;
    gap: 20px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

div>h1 {
    font-size: 50px;
}

.container-history {
    width: 78%;
    border: 2px solid black;
    gap: 10px;
    padding: 20px;
    display: flex;
    background-color: #001d3d;
    box-sizing: border-box;
    box-shadow: 10px 10px 1px 0px #003566;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}

.container-explanation {
    justify-content: flex-start;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-history>img {
    justify-content: flex-start;
    width: 40%;
    border-radius: 10px;
    align-content: center;
}

@media screen and (max-width: 1100px) {
    .logo {
        display: none;
    }

    .container-history {
        width: 100%;
        flex-direction: column;
    }

    .container-explanation {
        width: 100%;
    }

    .container-history  img{
        width: 100%;
    }

    .container-navbar {
        flex-direction: column;
    }

    .container-list {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container-more-information {
        width: 100%;
    }

    .container-information {
        flex-direction: column;
    }

    .gryffindor, .slytherin, .hufflepuff, .ravenclaw {
        flex-direction: column;
    }

    .gryffindor div, .slytherin div, .hufflepuff div, .ravenclaw div {
        text-align: center;
    }

    .gryffindor img, .slytherin img, .hufflepuff img, .ravenclaw img {
        width: 50%;
        align-self: center;
    }

    .slytherin, .ravenclaw{
        flex-direction: column-reverse;
    }
}

.container-more-information {
    width: 20%;
    gap: 10px;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #001d3d;
    box-sizing: border-box;
    box-shadow: 10px 10px 1px 0px #003566;
    border-radius: 10px;
    text-align: center;
}

.container-more-information>img {
    width: 100%;
    border-radius: 10px;
}

.container-more-information table {
    text-align: left;
}

.container-houses {
    background-color: #001d3d;
    box-sizing: border-box;
    box-shadow: 10px 10px 1px 0px #003566;
    border-radius: 10px;
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
}

.container-houses h1 {
    text-align: center;
    font-size: 400%;
    background-color: #001d3d;
}

.houses {
    padding: 20px;
}

.gryffindor {
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    text-align: left;
    font-size: 150%;
    display: flex;
    background-color: rgb(124, 0, 0);
}

.gryffindor div {
    padding: 20px;
}

.slytherin {
    padding: 20px;
    text-align: right;
    font-size: 150%;
    display: flex;
    background-color: rgb(0, 80, 0);
}

.slytherin div {
    padding: 20px;
}

.hufflepuff {
    padding: 20px;
    text-align: left;
    font-size: 150%;
    display: flex;
    background-color: rgb(73, 52, 0);
}

.hufflepuff div {
    padding: 20px;
}

.ravenclaw {
    padding: 20px;
    text-align: right;
    font-size: 150%;
    display: flex;
    background-color: rgb(3, 3, 39);
    border-radius: 0px 0px 20px 20px;
}

.ravenclaw div {
    padding: 20px;
}